@import "variables.module.scss";

.navbar{
    padding: 1.4rem;
    background-color: $fourth-color;
    display: block;
    
    z-index: 30;
    border-bottom: 3px solid #fff;
    height: 7.4rem;

    &__ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__a{
        font-size: 2.4rem;
        font-weight: 600;
        color:$white;

    }

}